
h2{
    display: flex;
    font-size: 12vw;
    color: transparent;
}
h2 span{
    animation: diwali 5s linear infinite;
    animation-delay: calc(0.1s * var(--i));

}
@keyframes diwali {
    0%{
        color: aliceblue;
        filter: blur(1px) hue-rotate(0deg);
        text-shadow: 0 0 10px rgb(19, 112, 250),
        0 0 20px rgb(23, 59, 240),
        0 0 40px rgb(24, 91, 234),
        0 0 80px rgb(98, 43, 248),
        0 0 100px rgb(57, 19, 243),
        0 0 200px rgb(20, 34, 231),
        0 0 300px rgb(48, 9, 189),
        0 0 400px rgb(26, 26, 235);

    }
    30%,70%{
        color: aliceblue;
        filter: blur(1px) hue-rotate(360deg);
        text-shadow: 0 0 10px rgb(19, 112, 250),
        0 0 20px rgb(23, 59, 240),
        0 0 40px rgb(24, 91, 234),
        0 0 80px rgb(98, 43, 248),
        0 0 100px rgb(57, 19, 243),
        0 0 200px rgb(20, 34, 231),
        0 0 300px rgb(48, 9, 189),
        0 0 400px rgb(26, 26, 235);

    }
    100%{
        color: transparent;
        box-shadow: none;
        filter: blur(2px) hue-rotate(0deg);
    }

}

.container{

    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}